.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.font10 {
    font-size: 10px;
}

.font12 {
    font-size: 12px;
}

.font14 {
    font-size: 14px;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}

.font20 {
    font-size: 20px;
}

.font22 {
    font-size: 22px;
}

.font24 {
    font-size: 24px;
}

.font26 {
    font-size: 26px;
}

.font28 {
    font-size: 28px;
}

.font30 {
    font-size: 30px;
}

.font35 {
    font-size: 35px;
}

.font40 {
    font-size: 40px;
}

.font45 {
    font-size: 45px;
}

.font50 {
    font-size: 50px;
}

.font55 {
    font-size: 55px;
}

.font60 {
    font-size: 60px;
}

.font130 {
    font-size: 130px;
}

.w200 {
    width: 200px;
}

.current-text {
    color: hsla(0, 0%, 100%, .68);
}

.text-purple {
    color: rgba(255, 202, 43, 0.916);
}

.text-current {
    color: white;
}

.text-current-50 {
    color: rgba(255, 255, 255, 0.701);
}

.bg-current {
    background: #07060a;
}

.border-start {
    border-left: 2px solid rgba(163, 163, 163, 0.089) !important;
}

.bg-current-low {
    background: rgb(11, 11, 11);
}

.ls-1 {
    letter-spacing: 1px;
}

.lh-1 {
    line-height: 24px !important;
}