@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

$font-stack: 'Montserrat', sans-serif;

* {
    font-family: $font-stack;
    font-weight: 500;
    box-sizing: border-box;
}


body {
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 10px;
        background: #000;
        transition: 0.3s ease;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #818B99;
        border: 3px solid transparent;
        border-radius: 9px;
        background-clip: content-box;
        transition: 0.3s ease;
    }

    &::-webkit-scrollbar-thumb {
        transition: 0.3s ease;
        background-color: #818B99;
    }
}

.theme {
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: #000;
    border-radius: 50% 0 0 50%;
    width: 30px;
    height: 30px;
    z-index: 101;
}

nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 100;
    display: flex;
    align-items: center;

    &.sticky {
        position: fixed;
        background: #000;
    }

    .nav-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu-toggle,
        .logo {
            z-index: 100;
        }

        .menu-toggle {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: white;
            cursor: pointer;

            .menu-icon {
                display: flex;
                flex-direction: column;
                width: 25px;

                span {
                    height: 2px;
                    background-color: #fff;
                    margin: 3px 0;
                    transition: 0.3s ease;

                    &:nth-child(1) {
                        width: 50%;
                    }

                    &:nth-child(3) {
                        width: 50%;
                        margin-left: auto;
                    }

                }

            }


            &:hover .menu-icon span {
                width: 100% !important;
            }

            &.active .menu-icon span {
                &:nth-child(1) {
                    width: 100%;
                    transform: rotate(45deg) translate(-3px, 14px);
                }

                &:nth-child(2) {
                    visibility: hidden;
                    opacity: 0;
                }

                &:nth-child(3) {
                    width: 100%;
                    transform: rotate(-45deg) translate(-3px, -14px);
                }
            }
        }




        .menu-content {
            left: 0;
            top: 0;
            position: absolute;
            width: 100%;
            height: 110vh;
            visibility: hidden;
            opacity: 0;
            transition: 0.8s ease;
            transform: translateY(-100%);
            padding-top: 80px;
            overflow-x: hidden;
            overflow-y: auto;

            &.active {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);

            }

            ul {
                display: flex;
                flex-direction: column;

                li {
                    display: inline;
                    list-style: none;
                    cursor: pointer;
                    transition: 0.3s ease;

                    &:hover {
                        opacity: 0.4;
                        margin-left: 10px;
                    }

                    span:nth-child(1) {
                        color: rgb(124, 124, 124);
                        margin-right: 10px;
                    }

                    * {
                        font-weight: 600;
                    }
                }
            }

            .col-md-5 {
                i {
                    width: 40px;
                }
            }

        }
    }
}

@keyframes sticky {
    0% {
        top: -80px;
    }

    100% {
        top: 0;
    }
}

@keyframes remove-sticky {
    0% {
        top: 0;
    }

    100% {
        top: -80px;
    }
}

#home {
    background: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
    position: relative;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    font-weight: 700;
    z-index: 100000;


    .top,
    .bottom {
        height: 50vh;
        width: 100%;
        transition: .5s ease !important;
    }

    .preloader-title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 25px;
    }

    .top {
        position: relative;

        .preloader-title {
            bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-weight: 700;
        }
    }

    .loader-line {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 3px;
        background: rgb(148, 148, 148);
    }

    .bottom {
        position: relative;

        .preloader-title {
            font-size: 15px;
            top: 20px;
            font-weight: 800;
            color: rgb(181, 181, 181);
            letter-spacing: 8px;
            text-transform: uppercase;
            animation: blink 2.3s infinite ease;
        }
    }

    @keyframes blink {
        0% {
            opacity: 0;
        }

        25% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        75% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes opacity {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes loader {
        0% {
            width: 0;
        }

        90% {
            width: 100%;
            opacity: 1;
        }

        100% {
            opacity: 0;
            visibility: hidden;
        }
    }

    @keyframes top {
        0% {
            margin-bottom: 0;
        }

        100% {
            margin-bottom: 50vh;
        }
    }

    @keyframes bottom {
        0% {
            margin-top: 0;
        }

        100% {
            margin-top: 50vh;
        }
    }

}

// HOME SWIPER
.swiper {
    width: 100%;
    height: 100%;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    background-size: cover;
    background-position: center;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;

    .swiper-nav {
        position: absolute !important;
        bottom: 50px !important;
        z-index: 100;
        color: #fff;
        font-size: 20px;
        transition: 0.4s ease;
    }

    .swiper-button-disabled {
        opacity: 0.2;
    }

    .swiper-next-btn {
        right: 80px;
    }

    .swiper-prev-btn {
        right: 130px;
    }


}


.mySwiper2 {
    height: 100vh;
    margin-left: 250px !important;
    width: calc(100% - 250px);
    display: flex;
}

.mySwiper {
    height: 160px;
    width: 100px;
    position: absolute !important;
    left: 0 !important;
    top: 50% !important;
    transform: translateY(-50%);

    .swiper-wrapper {
        position: absolute;
    }


    .swiper-slide {
        cursor: pointer;
        height: 48px !important;
        width: 50px;
        transition: 0.3s ease;

        &:hover {
            width: 100px;
        }
    }

    .swiper-slide-thumb-active {
        width: 100px;
    }

}



.slider-number {
    pointer-events: none;
    position: absolute;
    z-index: 100;
    right: 70px;
    color: rgba(255, 255, 255, 0.282);
    bottom: 50px;
    font-size: 140px;
}





.slide-titles {
    position: absolute;
    left: 150px;
    top: 170px;
    color: #fff;
    z-index: 10;

    .description-title {
        max-width: 450px;
        color: rgba(255, 255, 255, 0.701);
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        color: #fff;
        border-radius: 22px;
        border: 1px solid rgba(255, 255, 255, 0.155);
        width: 160px;
        padding: 9px 0;

        &:hover {
            color: #fff;
        }

        i {
            width: 26px;
            height: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
            border-radius: 50%;
            color: #000;
            font-size: 10px;
        }

    }
}


@media (max-width:768px) {
    .mySwiper {
        display: none;
    }

    .mySwiper2 {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .slider-number {
        right: 45px;
        font-size: 100px;
        bottom: 70px;
    }

    .swiper-next-btn {
        right: 50px !important;
    }

    .swiper-prev-btn {
        right: 100px !important;
    }

    #home .slide-titles {
        left: 20px;
        width: 90%;

        .head-title {
            font-size: 40px;
        }

        .description-title {
            font-size: 14px;
        }

    }

    .col-md-5.border-start {
        border: none !important;
    }
}

// HOME SWIPER


// About
.image-box {
    height: 400px;
    padding: 3rem 4rem !important;

    img {
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {
    .image-box {
        height: 300px;
        padding: 1rem 1.5rem !important;
    }
}

// About

%bullets {
    background: #fff;
    width: 24px !important;
    height: 2px !important;
    border-radius: 0%;
    transition: 0.3s ease !important;

    &.swiper-pagination-bullet-active {
        width: 34px !important;
    }
}

// Portfolio && feedback
#portfolio {
    .swiper {
        height: 400px;

        .swiper-pagination {
            span {
                @extend %bullets;
            }
        }

        .swiper-slide {
            cursor: pointer;

            span {
                padding: 20px 0;
                width: 100%;
                transition: 0.4s ease;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.916), rgba(255, 255, 255, 0));
                bottom: 0px;
                color: #fff;
            }

            &:hover span {
                padding: 20px 0 40px 0;
            }
        }
    }
}

#feedback {
    .swiper-pagination {
        span {
            @extend %bullets;
        }
    }
}

#feedback {
    .swiper-slide {
        .feedback-author {
            img {
                width: 50px !important;
                border-radius: 50%;
                background: rgb(20, 20, 20);
            }
        }
    }
}

// Portfolio && feedback

// BLOG
#blog {
    .swiper {
        height: 500px;

        .swiper-pagination {
            span {
                @extend %bullets;
            }
        }

        .swiper-slide {
            width: 450px;
            height: 300px;
            background: #fff;

            .blog-info {
                position: absolute;
                right: 0px;
                bottom: -130px;
                text-align: start;
                padding: 25px 40px;
                width: 90%;

                .blog-informative {
                    white-space: normal;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
            }

        }
    }
}

@media screen and (max-width: 600px) {
    #blog {
        .swiper-slide {
            width: 100% !important;
        }
    }
}

// BLOG

// FOOTER
footer {
    .col-12:not(:first-child) {
        h2 {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                height: 2px;
                width: 16px;
                bottom: -8px;
                background-color: #fff;
                left: 0;
            }

        }
    }

    .social {
        width: 120px !important;

        a {
            text-decoration: none;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

// FOOTER


// light mode
body.active {
    #home {
        .description-title {
            color: hsla(0, 0%, 100%, .68);
        }
    }

    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 10px;
        background: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #000;
        border: 3px solid transparent;
        border-radius: 9px;
        background-clip: content-box;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #000;
    }

    .text-purple {
        color: rgb(216, 162, 0);
        transition: 0.3s ease;
    }

    .text-current {
        color: rgb(0, 0, 0);
        transition: 0.3s ease;
    }

    .text-current-50 {
        color: rgba(0, 0, 0, 0.53);
        transition: 0.3s ease;
    }

    .bg-current {
        background: #e4e4e4;
        transition: 0.3s ease;
    }

    .bg-current-low {
        background: #cecece;
        transition: 0.3s ease;
    }

    %bullets {
        background: rgb(0, 0, 0);
        width: 24px !important;
        height: 2px !important;
        border-radius: 0%;
        transition: 0.3s ease !important;

        &.swiper-pagination-bullet-active {
            width: 34px !important;
        }
    }

    nav {
        transition: 0.3s ease;
        .logo{
            color: hsla(0, 0%, 100%, .68);
        }

        .menu-toggle {
            color: #fff;
        }

        &.sticky {
            background: #fff;
            .logo{
                color: rgba(0, 0, 0, 0.53);
            }
            .menu-toggle {
                color: #000;
            }

            .menu-icon {
                span {
                    transition: 0.3s ease;
                    background: #000 !important;
                }
            }
        }
    }
}